body {
  background-color: #fcf9f4;

}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #cbe6ef;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-bottom: 2px solid #5D7BC0;
  z-index: 1000;
  box-sizing: border-box; /* para que el padding no aumente el ancho */
}

.nav-bar h1 {
  font-size: 1.5rem;
  margin: 0;
}

.nav-bar nav {
  display: flex;
  gap: 1rem;
}

.nav-bar button {
  background: transparent;
  border: 1px solid #5D7BC0;
  color: #4464AD;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.nav-bar button:hover {
  background-color: #AF45ED;
  color: #282c34;
}
.logo-link {
  color: #5D7BC0;
  font-weight: bold;
}

.normal-link {
  color: #5D7BC0
}

.black_text {
  color: #5d5e5a;
  font-weight: bold;
  size: 40;  
}

.about-us {
  color: black;

}

.instructions {
  color: black;
  margin-top: 5rem; 
}

.login-page {
  color: #5D7BC0;
  text-align: center;
  margin-top: 5rem;
}

.login-page form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 300px;
  margin: 0 auto;
}

.login-page input {
  background-color: #f0f0f0; /*color de fondo*/
  color: black;              /*color del texto */
  border: 1px solid #ccc;    /*borde gris claro */
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
}

.login-page input::placeholder {
  color: #888; /*color del texto del placeholder */
}

.login-page input:focus {
  outline: none;
  border-color: #333;        /*color del borde cuando se enfoca */
  background-color: #ffffff; /*cambia color al enfocar */
}

.login-page button {
  padding: 0.6rem;
  font-size: 1rem;
  background-color: #cbe6ef;
  color: #5D7BC0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-page button:hover {
  background-color: #4866a3;
  color: white;

  transform: scale(1.05);
}

.signup-page {
  color: #5D7BC0;
  text-align: center;
  margin-top: 5rem;
}

.signup-page input[type="text"],
.signup-page input[type="email"],
.signup-page input[type="password"],
.signup-page input[type="file"] {
  background-color: #f0f0f0; /*color de fondo de los inputs */
  color: black;              /*color del texto */
  border: 1px solid #ccc;    /*borde */
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 10px;
  display: block;
  width: 100%;
}

.signup-page input::placeholder {
  color: #888; /*color del texto del placeholder */
}

.signup-page input:focus {
  outline: none;
  border-color: #333;
  background-color: #ffffff;
}


.signup-page button {
  padding: 0.6rem;
  font-size: 1rem;
  background-color: #cbe6ef;
  color: #5D7BC0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-page button:hover {
  background-color: #4866a3;
  transform: scale(1.05);
  color: white;


}

.create-game-button {
  background-color: #cbe6ef;
  color: #4866a3;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}

.create-game-button:hover {
  background-color: #4866a3;
  color: white;
  transform: scale(1.05);
}

.create-game-input {
  padding: 10px;
  margin: 10px 0;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 250px;
}

.parent-container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
}

.board {
  display: flex;
  flex-direction: column;
  line-height: 0;
}


.row {
  display: flex;
}

.cell {
  width: 30px;       
  height: 30px;     
  image-rendering: pixelated; 
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}






